// Variables
$dark: #212121;
$white: #FFFFFF;
// Global Styles
.btn-block{
	width: 100%;
	text-align: center;
}
// Styles
// Logo
.logo {
    h2 {
        margin: 0;
        padding: 0;
    }
}

// Panes
.sidebar {
    background-color: $dark;
    color: $white;
    .nav-group {
        .nav-group-item {
            color: $white;
        }
    }
}

.search-list {
    .list-group-item {
        cursor: pointer;
        &.active {
            background-color: $dark;
            color: $white;
        }
    }
}

.the-code {
    overflow: hidden;
}
