.sidebar {
  background-color: #212121;
  color: white; }

.search-list .list-group-item {
  cursor: pointer; }
  .search-list .list-group-item:active {
    background-color: #212121;
    color: white; }

.the-code {
  overflow: hidden; }
  .the-code .CodeMirror {
    height: 100%; }
