.btn-block {
  width: 100%;
  text-align: center; }

.logo h2 {
  margin: 0;
  padding: 0; }

.sidebar {
  background-color: #212121;
  color: white; }
  .sidebar .nav-group .nav-group-item {
    color: white; }

.search-list .list-group-item {
  cursor: pointer; }
  .search-list .list-group-item.active {
    background-color: #212121;
    color: white; }

.the-code {
  overflow: hidden; }
